body {
	background: #131313;
	font: inherit;
	color: #c4b998;
}

h1 {
	text-align: center;
	color: #c9aa71;
	font-size: 200%
}

h2 {
	text-align: center;
}

p {
	text-align: center;
	padding: 10px 250px;
}

header {

}

nav {
	padding: 1px 20px;
	border-bottom: 2px solid #252525;
	margin-bottom: 20px;
}

section {
	border: 2px solid #252525;
	margin: 5px;
	padding: 10px;
}

button {
	background-color: #131313;
	font-weight: bold;
	font-size: 125%;
	color: #c9aa71;
	margin: 5px;
	padding: 5px;
	border: 2px solid #252525;
	transition: 1s;
}

button:hover {
	cursor: pointer;
	color: white;
	transition: 1s;
}

img {
	position: sticky;
	border: 2px solid #252525;
	margin: 10px 13px;
}

img:hover {
	border: 2px solid #c9aa71;
}

.mewant {
	border: 2px solid #252525;
	margin: 5px;
	padding: 10px;
}

a {
	background-color: #131313;
	font-weight: bold;
	font-size: 90%;
	color: #c9aa71;
	margin: 5px;
	padding: 5px;
	border: 2px solid #252525;
	transition: 1s;
}

a:hover {
	cursor: pointer;
	color: white;
	transition: 1s;
}

.imglink {
	border: 0px solid #131313;	
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 7px
}

::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 5px #252525;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #CAB070;
  border-radius: px;
}

::-webkit-scrollbar-thumb:hover {
  background: #CAB181;
}
