body {
	background: #131313;
	font-family: Times New Roman;
	color: #CAB070;
}

h1 {
	text-align: center;
	
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 7px
}

::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 5px #252525;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #CAB070;
  border-radius: px;
}

::-webkit-scrollbar-thumb:hover {
  background: #CAB181;
}
